* {
  background-color: #F3E0EC;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: start;
}

.TaskHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F2BEFC;
  width: 80%;
  margin: 2rem;
}

.taskTitle {
  background-color: #F2BEFC;
  color: #F3E0EC;
}

/*

Task.js stuff

*/

.task {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border: .1rem solid #F3E0EC;
  border-radius: 10px;
  margin: 0 0 1rem 0;
}

.checkBox {
  margin: 0 1rem 0 1rem;
}

.task:hover {
  background-color: #EAD5E6;
  border: .1rem solid #EAD5E6;
}

/*

  Nav Comp stuff

*/

.offcanvas-header{
  justify-content: space-between;
}

.plusIcon {
  transition: .15s all;
}
.plusIcon:hover {
  font-size: 1.1rem;
}

#dropdown-basic-button {
  width: 100%;
  text-align: left;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* Specifically Dropdown stuff */

.dropdown-header-holder {
  padding: 1rem;
  border: .1rem solid #EAD5E6;
  border-radius: 10px;
}

.dropdown-header-favicons {
  background-color: transparent;
}

.dropdown-header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
}
.ddHeaderPlus {
  padding: 0 1rem 0 1rem;
  background-color: transparent;
}
.ddHeaderCaret {
  background-color: transparent;
  transition: 1s all;
}
.dropdown-header-text {
  background-color: transparent;
}

.dropdown-header-holder:hover {
  background-color: #EAD5E6;
}
.ddHeaderCaret:hover {
  transform: rotate(0deg);
}